<div>
    <div class="form-title">
        <button pButton pRipple type="button" icon="pi pi-chevron-left"
            class="p-button-rounded p-button-text button-back" routerLink="/tickets"></button>
        <p class="title-form">New Ticket</p>
    </div>
    <div class="form-content">
        <div>
            <div class="row mb-3">
                <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-7">
                    <input type="text" class="p-inputtext-sm form-control" pInputText
                        [(ngModel)]="threadHdrReq.title" />
                </div>
            </div>
            <div class="row mb-3">
                <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-7">
                    <textarea type="text" class="p-inputtext-sm form-control" pInputText
                        [(ngModel)]="threadHdrReq.description"></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Product</label>
                <div class="col-sm-7">
                    <p-dropdown [options]="dataProduct" [(ngModel)]="threadHdrReq.product" optionLabel="name"
                        optionValue="id" [showClear]="true" placeholder="Select a Product" [style]="{'width':'100%'}">
                    </p-dropdown>
                </div>
            </div>
            <div class="row mb-4">
                <label for="exampleInputEmail1" class="col-sm-2 col-form-label">File</label>
                <div class="col-sm-7">
                    <input class="form-control" type="file" id="formFile" (change)="fileChange($event.target)">
                </div>
            </div>
            <button pButton type="button" label="Submit" class="p-button-primary button" (click)="onClick()"></button>
        </div>
    </div>
</div>