.image-upload > input {
  display: none;
}

.label-file {
  font-size: 14px;
  color: #17c1d8;
}

.label-title {
  font-size: 25px;
  font-weight: 500;
  margin-right: 95px;
}

.label-status {
  color: #17c1d8;
  margin-left: 20px;
}

.textarea-disable {
  height: 100px;
  width: 92%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.div-comment {
  background-color: #f7f7f7;
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.div-comment-disabled {
  background-color: #e1fdff; 
  border-radius: 12px; 
  padding-top: 20px; 
  padding-bottom: 5px; 
  margin-top: 10px;
}

.label-msg {
  height: 100px; 
  width: 92%; 
  margin-top: 20px;
}

.btn-send{
  margin-right: 15px;
}

.i {
  font-size: 1.5rem; color: #717171;
}

.date {
  margin-left: 60px;
}

.turn-red {
  background-color: crimson;
}
