<div>
    <div class="form-title mb-4">
        <button pButton pRipple type="button" icon="pi pi-chevron-left"
            class="p-button-rounded p-button-text button-back" routerLink="/tickets"></button>
        <p class="title-form">Ticket - </p>
        <p class="title-form">{{dataHdr.noTicket}}</p>
    </div>
    <div class="form-content">
        <div class="row mb-4">
            <label class="col-form-label">{{dataHdr.createdAt | date:'d MMMM y, h:mm:ss a'}}</label>
        </div>
        <div
            style="display: flex; flex-direction: row; justify-content: space-between; margin-right: 50px; margin-bottom: 10px;">
            <label class="col-form-label label-title">Title : {{dataHdr.title}}</label>
            <div>
                <p-confirmPopup></p-confirmPopup>
                <button pButton class="p-button" [ngClass]="{'p-button-danger': isClose}" (click)="statusChange($event)"
                    *ngIf="statusButton">{{status}}</button>
            </div>
        </div>
        <div class="mb-3"
            style="display: flex; flex-direction: row; justify-content: space-between; margin-right: 50px;">
            <label class=" col-form-label">Description : {{dataHdr.description}}</label>
            <div>
                <label class="col-form-label label-status">Status : {{dataHdr.status}}</label>
            </div>
        </div>
        <div class="row mb-3" *ngIf="dataHdr.file">
            <label class="col-form-label" style="color: #17C1D8;">
                <a href="{{url+'/'+dataHdr?.file}}" target="_blank" style="text-decoration: none;">Download
                    Attachment</a>
            </label>
        </div>
    </div>
</div>

<hr><br>
<div class="div-comment-disabled" *ngFor="let data of dataListDtlByHdr">
    <div class="form-content">
        <div class="row mb-2">
            <label for="exampleInputEmail1" class="col-sm-8 col-form-label">{{data.user}}</label>
            <label class="col-sm-3 col-form-label date">{{data.createdAt | date:'d MMMM y, h:mm:ss a'}}</label>
        </div>
        <div class="form-floating">
            <textarea class="col-sm-3 form-control textarea-disable" placeholder="Leave a comment here"
                disabled>{{data.msg}}</textarea>
        </div>
        <div class="mb-3 col-form-label" *ngIf="data.file">
            <a href="{{url+'/'+data?.file}}" target="_blank" style="text-decoration: none;">Download Attachment</a>
        </div>
    </div>
</div>
<br>

<hr *ngIf="dataListDtlByHdr "><br>
<div *ngIf="isAuthorize" class="div-comment">
    <div class="form-content">
        <div class="form-floating">
            <textarea class="col-sm-3 form-control label-msg" placeholder="Leave a comment here"
                [(ngModel)]="threadDtlReq.msg"></textarea>
        </div>
        <div class="mt-4 mb-3 row">
            <div class="col-sm-1">
                <button pButton class="p-button-primary btn-send" (click)="onClick()">Send</button>
            </div>
            <div class="col-sm-1 mt-2 image-upload">
                <label for="file-input">
                    <i class="pi pi-paperclip i"></i>
                </label>
                <input id="file-input" type="file" (change)="fileChange($event.target)" />
            </div>
            <div class="col-sm-5 mt-2 label-file">
                <label>{{fileName}}</label>
            </div>
        </div>
    </div>
</div>