<div>
    <div class="form-title">
        <button pButton pRipple type="button" icon="pi pi-chevron-left"
            class="p-button-rounded p-button-text button-back" routerLink="/companies"></button>
        <p class="title-form">Update Company</p>
    </div>
    <div class="form-content">
        <div class="row mb-3">
            <input type="text" class="form-control" id="id" [(ngModel)]='company.id' hidden>
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Code</label>
            <div class="col-sm-5">
                <input maxLength="10" type="text" class="p-inputtext-sm form-control" pInputText [(ngModel)]="company.code" />
            </div>
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-5">
                <input maxLength="50" type="text" class="p-inputtext-sm form-control" pInputText [(ngModel)]="company.name" />
            </div>
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-5">
                <textarea maxLength="255" type="text" class="p-inputtext-sm form-control" pInputText
                        [(ngModel)]="company.address"></textarea>
                <!-- <input maxLength="255" type="text" class="p-inputtext-sm form-control" pInputText [(ngModel)]="company.address" /> -->
            </div>
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-5">
                <input maxLength="15" type="text" class="p-inputtext-sm form-control" pInputText [(ngModel)]="company.phone" />
            </div>
        </div>
        <div style="display: flex; flex-direction: row mb-3; margin-bottom: 20px;">
            <label for="exampleInputEmail1" class="form-label" style="margin-right: 120px;">Status</label>
            <div style="margin-right: 20px;">
                <p-radioButton name="status" [value]="true" [(ngModel)]="company.isActive"></p-radioButton>
                <label class="form-check-label" for="flexRadioDefault2" style="margin-left: 10px;">
                    Active
                </label>
            </div>
            <div>
                <p-radioButton name="status" [value]="false" [(ngModel)]="company.isActive"></p-radioButton>
                <label class="form-check-label" for="flexRadioDefault2" style="margin-left: 10px;">
                    Not Active
                </label>
            </div>
        </div>
        <button (click)="onClick()" pButton type="button" label="Update" class="p-button-primary button"></button>
    </div>
</div>