<div>
    <div class="form-title">
        <button pButton pRipple type="button" icon="pi pi-chevron-left"
            class="p-button-rounded p-button-text button-back" routerLink="/accounts"></button>
        <p class="title-form">Add Account</p>
    </div>
    <div class="form-content">
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Company</label>
            <div class="col-sm-5">
                <p-dropdown class="p-inputtext-sm" [options]="company" [(ngModel)]="account.company" optionLabel="name"
                    optionValue="id" placeholder="Select Company" [style]="{'width':'100%'}">
                </p-dropdown>
            </div>
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">User</label>
            <div class="col-sm-5">
                <p-dropdown class="p-inputtext-sm" [options]="user" [(ngModel)]="account.user" optionLabel="name"
                    optionValue="id" placeholder="Select User" [style]="{'width':'100%'}">
                </p-dropdown>
            </div>
        </div>
        <button (click)="onClick()" pButton type="button" label="Submit" class="p-button-primary button"></button>
    </div>
</div>