<div class="main-list">
    <p class="title">Ticket</p>
</div>
<div class="div-table">
    <div class="div-btn-add">
        <p-button *ngIf="!isAccount" label="Add Ticket" icon="pi pi-plus" styleClass="p-button-sm p-button-primary"
            routerLink="/tickets/new">
        </p-button>
    </div>
    <p-table [value]="data" rowGroupMode="rowspan" styleClass="p-datatable-sm" [paginator]="true" [rows]="5"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [resizableColumns]="true">
        <ng-template pTemplate="header">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">No. Ticket</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Product</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
            <tr>
                <td>{{i+1}}</td>
                <td>{{data.noTicket}}</td>
                <td>{{data.title}}</td>
                <td>{{data.description}}</td>
                <td>{{data.product}}</td>
                <td>{{data.status}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success p-button-outlined"
                        style="margin-right: 5px;" (click)="view(data.id)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>