<div>
    <div class="form-title">
        <button pButton pRipple type="button" icon="pi pi-chevron-left"
            class="p-button-rounded p-button-text button-back" routerLink="/agents"></button>
        <p class="title-form">Add Agent</p>
    </div>

    <div class="form-content">
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 form-label">User</label>
            <div class="col-sm-5">
                <p-dropdown [options]="dataUser" [style]="{'width':'100%'}" class="p-inputtext-sm" optionValue="id"
                    [(ngModel)]="data.user" optionLabel="name" placeholder="Select User">
                </p-dropdown>
            </div>
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 form-label">Product</label>

            <div class="mb-3" style="display: flex; justify-content: space-between;">
                <select class="form-select" (change)="productChange($event.target)" [(ngModel)]='data.product'>
                    <option *ngFor="let product of dataProduct;" [value]="product.id" style="width: 100%;">
                        {{product.name}}</option>
                </select>
            </div>




<!-- 
            <div class="col-sm-5">
                <p-dropdown (change)="productChange($event.target)" [options]="dataProduct" [style]="{'width':'100%'}" class="p-inputtext-sm" optionValue="id"
                    [(ngModel)]="data.product" optionLabel="name" placeholder="Select Product">
                </p-dropdown>
            </div> -->


        </div>

        <button pButton type="button" label="Add" icon="pi pi-plus" iconPos="left" class="p-button-success"
        (click)="onSave()" style="height:35px; width: auto;"></button>

        <div class="mb-3">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start"
                    *ngFor="let productMod of listData;">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{productMod.product}}</div>
                    </div>
                    <span class="badge bg-primary rounded-pill">{{productMod.product}}</span>
                </li>
            </ol>
        </div>


        <button (click)="onClick()" pButton type="button" label="Submit" class="p-button-primary button"></button>
    </div>
</div>
