<div class="main-form">
    <div class="form-title">
        <button pButton pRipple type="button" icon="pi pi-chevron-left"
            class="p-button-rounded p-button-text button-back" routerLink="/roles"></button>
        <p class="title">Update Roles</p>
    </div>
    <div class="form-content">
        <div>
            <input type="text" class="form-control" id="id" [(ngModel)]='role.id' hidden>
            <div class="form-input-code">
                <label for="exampleInputEmail1" class="form-label label">Code</label>
                <input maxLength="10" type="text" class="p-inputtext-sm form-input" pInputText [(ngModel)]="role.code" />
            </div>
            <div class="form-input-name">
                <label for="exampleInputEmail1" class="form-label label">Name</label>
                <input maxLength="30" type="text" class="p-inputtext-sm form-input" pInputText [(ngModel)]="role.name" />
            </div>
            <div style="display: flex; flex-direction: row; margin-bottom: 20px;">
                <label for="exampleInputEmail1" class="form-label" style="margin-right: 90px;">Status</label>
                <div style="margin-right: 20px;">
                    <p-radioButton name="status" [value]="true" [(ngModel)]="role.isActive"></p-radioButton>
                    <label class="form-check-label" for="flexRadioDefault2" style="margin-left: 10px;">
                        Active
                    </label>
                </div>
                <div>
                    <p-radioButton name="status" [value]="false" [(ngModel)]="role.isActive"></p-radioButton>
                    <label class="form-check-label" for="flexRadioDefault2" style="margin-left: 10px;">
                        Not Active
                    </label>
                </div>
            </div>
            <button (click)="onClick()" pButton type="button" label="Update" class="p-button-primary button"></button>
        </div>
    </div>
</div>