<div class="main-form">
    <div class="form-title">
        <button pButton pRipple type="button" icon="pi pi-chevron-left"
            class="p-button-rounded p-button-text button-back" routerLink="/products"></button>
        <p class="title-form">Add Product</p>
    </div>
    <div class="form-content">
        <div>
            <div class="form-input-code">
                <label for="exampleInputEmail1" class="form-label label">Code</label>
                <input maxLength="10" type="text" class="p-inputtext-sm form-input" pInputText [(ngModel)]="product.code" />
            </div>
            <div class="form-input-name">
                <label for="exampleInputEmail1" class="form-label label">Name</label>
                <input maxLength="30" type="text" class="p-inputtext-sm form-input" pInputText [(ngModel)]="product.name" />
            </div>
            <button (click)="onClick()" pButton type="button" label="Submit" class="p-button-primary button"></button>
        </div>
    </div>
</div>