<div>
    <div class="form-title">
        <button pButton pRipple type="button" icon="pi pi-chevron-left"
            class="p-button-rounded p-button-text button-back" routerLink="/users"></button>
        <p class="title-form">Add User</p>
    </div>
    <div class="form-content">
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Nama</label>
            <div class="col-sm-5">
                <input maxLength="50" type="text" class="p-inputtext-sm form-control" pInputText
                    [(ngModel)]="data.name"/>
            </div>
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-5">
                <input maxLength="50" type="text" class="p-inputtext-sm form-control" pInputText
                    [(ngModel)]="data.email" />
            </div>
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Role</label>
            <div class="col-sm-5">
                <p-dropdown [options]="dataRoles" class="p-inputtext-sm" [(ngModel)]="data.role" optionLabel="nama"
                    optionValue="id" [showClear]="true" placeholder="Select Role" [style]="{'width':'100%'}">
                </p-dropdown>
            </div>
        </div>
        <button (click)="onClick()" pButton type="button" label="Submit" class="p-button-primary button"></button>
    </div>
</div>

