<div>
    <div class="form-title">
        <button pButton pRipple type="button" icon="pi pi-chevron-left"
            class="p-button-rounded p-button-text button-back" (click)="back()"></button>
        <p class="title-form">Assign Product</p>
    </div>
    <div class="form-content">
        <div class="row mb-3">
            <input type="text" hidden class="form-control" id="id" [(ngModel)]="pic.account">
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Product</label>
            <div class="col-sm-5">
                <p-dropdown [options]="product" [style]="{'width':'100%'}" class="p-inputtext-sm" optionValue="id"
                    [(ngModel)]='pic.product' optionLabel="name" placeholder="Select Product">
                </p-dropdown>
            </div>
        </div>
        <button (click)="onClick()" pButton type="button" label="Submit" class="p-button-primary button"></button>
    </div>
</div>