<div class="row" style="height: 100vh; width: 100%;">
    <div class="col no-gutters picture">
        <img src="../../../assets/pictures/login-ilustration.png" width="600px" height="450px" />
    </div>
    <div class="col no-gutters form">
        <div style="background-color: #FFF; width: 450px; height: 550px; border-radius: 12px; 
        display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <div style="margin-bottom: 30px; align-self:auto;">
                <img src="../../../assets/pictures/logo-bugtis.png" width="200px" height="auto" />
            </div>
            <div class="mb-3" style="display: flex; flex-direction: column;">
                <label style="margin-bottom: 10px; color: #77888A;">Email</label>
                <input  [(ngModel)]='dataLogin.email' class="text-input" type="text" pInputText [style]="{'width':'250px'}" />
            </div>
            <div class="mb-3" style="display: flex; flex-direction: column;">
                <label style="margin-bottom: 10px; color: #77888A;">Password</label>
                <input [(ngModel)]='dataLogin.pass' class="text-input" type="password" pInputText [style]="{'width':'250px'}" />
            </div>
            <button pButton type="button" (click)="login()" label="LOGIN" class="p-button-outlined button" [style]="{'width':'250px'}"></button>
        </div>
    </div>
</div>