@font-face {
  font-family: poppins;
  src: url(../../../assets/fonts/Poppins-Regular.ttf);
}

div {
    font-family: poppins;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1FDFF;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #17C1D8;
}

.text-input{
    width: 500px;
    height: auto;
    border-radius: 5px;
}

.button{
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
    color: #FFF;
    font-weight: 400;
    font-family: poppins;
    font-size: 15px;
    background-color: #17C1D8;
}


