/* You can add global styles to this file, and also import other style files */

.main-form {
  width: 50%;
}

.main-list {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 10px;
}

.form-title {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  color: #18b8ce;
  margin-bottom: 10px;
}

.form-subtitle {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: #18b8ce;
}

.form-content {
  margin-left: 40px;
}

.form-input-code {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  gap: 100px;
}

.form-input-name {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 95px;
}

.form-button {
  margin-top: 20px;
}

.form-input {
  width: 60%;
}

.p-product-info {
  display: flex;
  align-items: center;
  background-color: #e1f6ff;
  height: 50px;
  padding: 20px;
  border-radius: 7px;
}
