<div>
    <div class="form-title">
        <button pButton pRipple type="button" icon="pi pi-chevron-left"
            class="p-button-rounded p-button-text button-back" routerLink="/accounts"></button>
        <p class="title">Update Account</p>
    </div>
    <div class="form-content">
        <input type="text" class="form-control" id="id" [(ngModel)]='account.id' hidden>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Company</label>
            <div class="col-sm-5">
                <p-dropdown class="p-inputtext-sm" [options]="company" [(ngModel)]="account.company" optionLabel="name"
                    optionValue="id" placeholder="Select Company" [style]="{'width':'100%'}">
                </p-dropdown>
            </div>
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">User</label>
            <div class="col-sm-5">
                <p-dropdown class="p-inputtext-sm" [options]="user" [(ngModel)]="account.user" optionLabel="name"
                    optionValue="id" placeholder="Select User" [style]="{'width':'100%'}">
                </p-dropdown>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; margin-bottom: 20px;">
            <label for="exampleInputEmail1" class="col-form-label" style="margin-right: 120px;">Status</label>
            <div style="margin-right: 20px;">
                <p-radioButton name="status" [value]="true" [(ngModel)]="account.isActive"></p-radioButton>
                <label class="form-check-label" for="flexRadioDefault2" style="margin-left: 10px;">
                    Active
                </label>
            </div>
            <div>
                <p-radioButton name="status" [value]="false" [(ngModel)]="account.isActive"></p-radioButton>
                <label class="form-check-label" for="flexRadioDefault2" style="margin-left: 10px;">
                    Not Active
                </label>
            </div>
        </div>
        <button (click)="onClick()" pButton type="button" label="Update" class="p-button-primary button"></button>
    </div>
</div>