@font-face {
  font-family: poppins;
  src: url(../../../assets/fonts/Poppins-Regular.ttf);
}

div {
  font-family: poppins;
}

.sidebar {
  width: 15%;
  height: 93vh;
  background-color: #fff;
  box-shadow: 5px 10px 5px #dadada;
  padding: 10px 0px;
}

.topbar {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: #fff;
}

.main {
  width: 85%;
  height: 50px;
  margin-left: 2px;
}

.li-sidebar {
  font-size: 16px;
  font-weight: 400;
  list-style-type: none;
  padding: 20px;
  color: #77888a;
}

.li-sidebar:hover {
  display: block;
  background-color: #f1fdff;
}

.selected-sidebar {
  display: block;
  background-color: #f1fdff;
  font-size: 16px;
  font-weight: 400;
  list-style-type: none;
  padding: 20px;
}

.selected-sidebar>a {
  color: #17c1d8;
}

.unselected-sidebar {
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  list-style-type: none;
  padding: 20px;
}

.unselected-sidebar>a {
  color: #77888a;
}

li a {
  text-decoration: none;
  color: #77888a;
}

li:hover a {
  color: #17c1d8;
}

.li-topbar {
  display: flex;
  align-items: center;
  margin-left: 40px;
  font-size: 16px;
  font-weight: 400;
  list-style-type: none;
  color: #77888a;
}

.li-topbar:hover a {
  color: #17c1d8;
}

.selected-topbar {
  display: flex;
  align-items: center;
  margin-left: 40px;
  font-size: 16px;
  font-weight: 400;
  list-style-type: none;
}

.selected-topbar>a {
  color: #17c1d8;
}

.unselected-topbar {
  display: flex;
  align-items: center;
  margin-left: 40px;
  font-size: 16px;
  font-weight: 400;
  list-style-type: none;
}

.unselected-topbar>a {
  color: #77888a;
}

.content {
  max-height: 80vh;
  overflow: auto;
  width: 95%;
  background-color: #fff;
  padding: 25px;
  margin-top: 15px;
  margin-left: 30px;
  border-radius: 12px;
}