<div style="background-color: #F7F7F7;">
        <div style="width: 100%; height: 50px; background-color: #17C1D8; 
    display: flex; flex-direction: row; align-items: center;">
                <img src="../../../assets/pictures/bugtracker-logo.png" width="25px" height="25px"
                        style="margin-left: 15px; margin-right: 10px;" />
                <h5 style="color: #FFF; margin-top: 5px;">BugTis</h5>
        </div>
        <div style="display: flex; flex-direction: row;">
                <div class="sidebar">
                        <li [class]="isHome? 'selected-sidebar' : 'li-sidebar unselected-sidebar'">
                                <i class="pi pi-home" style="color:rgb(147, 147, 147); margin-right: 10px;"></i>
                                <a routerLink="/home">Home</a>
                        </li>
                        <li *ngIf="isAdmin" [class]="isMaster? 'selected-sidebar' : 'unselected-sidebar'">
                                <i class="pi pi-th-large" style="color:rgb(147, 147, 147); margin-right: 10px;"></i>
                                <a routerLink="/roles">Master Data</a>
                        </li>
                        <li *ngIf="isCustomer" [class]="isMaster? 'selected-sidebar' : 'li-sidebar unselected-sidebar'">
                                <i class="pi pi-th-large" style="color:rgb(147, 147, 147); margin-right: 10px;"></i>
                                <a routerLink="/users">Master Data</a>
                        </li>
                        <li [class]="isTicket? 'selected-sidebar' : 'li-sidebar unselected-sidebar'">
                                <i class="pi pi-ticket" style="color:rgb(147, 147, 147); margin-right: 10px;"></i>
                                <a routerLink="/tickets">Ticket</a>
                        </li>
                        <li *ngIf="!isAdmin" [class]="isProfile? 'selected-sidebar' : 'li-sidebar unselected-sidebar'">
                                <i class="pi pi-user" style="color:rgb(147, 147, 147); margin-right: 10px;"></i>
                                <a routerLink="/profile">Profile</a>
                        </li>
                        <li class="li-sidebar">
                                <i class="pi pi-sign-out" style="color:rgb(147, 147, 147); margin-right: 10px;"></i>
                                <a (click)='logout()'>Log Out</a>
                        </li>
                </div>
                <div class="main">
                        <div *ngIf="visibleTopBar" class="topbar">
                                <li *ngIf="isAdmin" [class]="isRole? 'selected-topbar' : 'li-topbar unselected-topbar'">
                                        <a routerLink="/roles">Role</a>
                                </li>
                                <li *ngIf="isAdmin || isCustomer"
                                        [class]="isUser? 'selected-topbar' : 'li-topbar unselected-topbar'">
                                        <a routerLink="/users">User</a>
                                </li>
                                <li *ngIf="isAdmin"
                                        [class]="isStatus? 'selected-topbar' : 'li-topbar unselected-topbar'"><a
                                                routerLink="/status">Status</a></li>
                                <li *ngIf="isAdmin"
                                        [class]="isProduct? 'selected-topbar' : 'li-topbar unselected-topbar'"><a
                                                routerLink="/products">Product</a></li>
                                <li *ngIf="isAdmin"
                                        [class]="isCompany? 'selected-topbar' : 'li-topbar unselected-topbar'"><a
                                                routerLink="/companies">Company</a></li>
                                <li *ngIf="isAdmin"
                                        [class]="isAgentList? 'selected-topbar' : 'li-topbar unselected-topbar'"><a
                                                routerLink="/agents">Agent</a></li>
                                <li *ngIf="isAdmin || isCustomer"
                                        [class]="isAccountList? 'selected-topbar' : 'li-topbar unselected-topbar'"><a
                                                routerLink="/accounts">Account</a></li>
                        </div>

                        <div class="content">
                                <router-outlet></router-outlet>
                        </div>
                </div>
        </div>
</div>