.button-back {
  font-size: 1.5rem;
  color: #77888a;
}

.title {
  font-size: 25px;
  color: #18b8ce;
}

.div-btn-add {
    margin-bottom: 20px; 
    display: flex; 
    justify-content: flex-end;
}

tr {
    font-size: 14px;
}
td { overflow:hidden;
  text-overflow: ellipsis;
  white-space:wrap;  } 