<div class="main-list">
    <p class="title">User</p>
</div>
<div class="div-table">
    <div class="div-btn-add">
        <p-button label="Add" icon="pi pi-plus" styleClass="p-button-sm p-button-primary" routerLink="/users/new">
        </p-button>
    </div>
    <p-table [value]="data" styleClass="p-datatable-sm" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="header">
            <tr>
                <th width="45px">No.</th>
                <th>Name</th>
                <th scope="col-10">Email</th>
                <th width="90px">Role</th>
                <th width="90px">Status</th>
                <th scope="col-3">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
            <tr>
                <td>{{i+1}}</td>
                <td>{{data.name}}</td>
                <td >{{data.email}}</td>
                <td>{{data.role}}</td>
                <td>{{data.isActive}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info p-button-outlined"
                        (click)="update(data.id)" style="margin-right: 5px;"></button>
                    <button pButton pRipple icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-button-outlined" (click)="confirm(data.id)"></button>
                    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>