<div>
    <div class="form-title">
        <p class="title-form" style="margin-left: 38px;">My Account</p>
    </div>
    <div class="form-content">
        <div class="form-subtitle">
            <p class="title-form">Personal Information</p>
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-5">
                <input type="text" class="p-inputtext-sm form-control" pInputText placeholder="{{dataUser.name}}"
                    disabled />
            </div>
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-5">
                <input type="text" class="p-inputtext-sm form-control" pInputText placeholder="{{dataUser.email}}"
                    disabled />
            </div>
        </div>
        <div *ngIf="!isAgent" class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-3 col-form-label">Company</label>
            <div class="col-sm-5">
                <input type="text" class="p-inputtext-sm form-control" pInputText disabled
                    placeholder="{{dataUser.company}}" />
            </div>
        </div>

        <hr>
        <div class="form-subtitle">
            <p class="title-form">Change Password</p>
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-3 col-form-label">Create New Password</label>
            <div class="col-sm-5">
                <input type="password" class="p-inputtext-sm form-control" pInputText
                    [(ngModel)]='data.pass' required/>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-5">
                <input type="password" class="p-inputtext-sm form-control" pInputText [(ngModel)]='data.id' hidden />
            </div>
        </div>
        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
        <button pButton type="button" label="Save" class="p-button-primary button" (click)="confirm()"></button>
    </div>
</div>