<div>
    <div class="form-title">
        <button pButton pRipple type="button" icon="pi pi-chevron-left"
            class="p-button-rounded p-button-text button-back" routerLink="/agents"></button>
        <p class="title-form">Update Agent</p>
    </div>

    <div class="form-content">
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 form-label">User</label>
            <div class="col-sm-5">
                <p-dropdown [options]="dataUser" [style]="{'width':'100%'}" class="p-inputtext-sm" optionValue="id"
                    [(ngModel)]="data.user" optionLabel="name" placeholder="Select User">
                </p-dropdown>
            </div>
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 form-label">Product</label>
            <div class="col-sm-5">
                <p-dropdown [options]="dataProduct" [style]="{'width':'100%'}" class="p-inputtext-sm" optionValue="id"
                    [(ngModel)]="data.product" optionLabel="name" placeholder="Select Product">
                </p-dropdown>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; margin-bottom: 20px;">
            <label for="exampleInputEmail1" class="form-label" style="margin-right: 90px;">Status</label>
            <div style="margin-right: 20px; margin-left: 30px;">
                <p-radioButton name="status" [value]="true" [(ngModel)]="data.isActive"></p-radioButton>
                <label class="form-check-label" for="flexRadioDefault2" style="margin-left: 10px;">
                    Active
                </label>
            </div>
            <div>
                <p-radioButton name="status" [value]="false" [(ngModel)]="data.isActive"></p-radioButton>
                <label class="form-check-label" for="flexRadioDefault2" style="margin-left: 10px;">
                    Not Active
                </label>
            </div>
        </div>
        <button (click)="onClick()" pButton type="button" label="Submit" class="p-button-primary button"></button>
    </div>
</div>
