.main-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  gap: 20px;
  margin-top: 30px;
}

.card-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 15rem;
  background-color: #3bcde0;
  border-radius: 10px;
}

.icon {
  width: 55px;
  height: 55px;
}

.p {
  font-size: 20px;
  font-weight: 500;
}

.text-div {
  color: #fff;
  margin-top: 15px;
}
