<div class="row mb-3 main-div">
    <div class="mb-3 card-div">
        <div class="text-div">
            <div>All Ticket</div>
            <p class="p">{{data?.total}}</p>
        </div>
        <div>
            <img src="../../../assets//pictures/tickets.png" class="icon">
        </div>
    </div>
    <div class="mb-3 card-div">
        <div class="text-div">
            <div>Open</div>
            <p class="p">{{data?.totalOpen}}</p>
        </div>
        <div>
            <img src="../../../assets//pictures/open.png" class="icon">
        </div>
    </div>
    <div class="mb-3 card-div">
        <div class="text-div">
            <div>Closed</div>
            <p class="p">{{data?.totalClose}}</p>
        </div>
        <div>
            <img src="../../../assets//pictures/close.png" class="icon">
        </div>
    </div>
    <div class="mb-3 card-div">
        <div class="text-div">
            <div>Re-Open</div>
            <p class="p">{{data?.totalReopen}}</p>
        </div>
        <div>
            <img src="../../../assets//pictures/reopen.png" class="icon">
        </div>
    </div>
</div>