<div>
    <div class="form-title">
        <button pButton pRipple type="button" icon="pi pi-chevron-left"
            class="p-button-rounded p-button-text button-back" (click)="back()"></button>
        <p class="title">Update Assign Product</p>
    </div>
    <div class="form-content">
        <div>
            <input type="text" class="form-control" id="id" [(ngModel)]='pic.id' hidden>
            <div class="form-input-company">
                <input type="text" hidden class="form-control" id="id" [(ngModel)]="pic.account">
            </div>
            <div class="row mb-3">
                <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Product</label>
                <div class="col-sm-5">
                    <p-dropdown [options]="product" [style]="{'width':'100%'}" class="p-inputtext-sm" optionValue="id"
                        [(ngModel)]='pic.product' optionLabel="name" placeholder="Select Product">
                    </p-dropdown>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; margin-bottom: 20px;">
                <label for="exampleInputEmail1" class="form-label" style="margin-right: 120px;">Status</label>
                <div style="margin-right: 20px;">
                    <p-radioButton name="status" [value]="true" [(ngModel)]="pic.isActive"></p-radioButton>
                    <label class="form-check-label" for="flexRadioDefault2" style="margin-left: 10px;">
                        Active
                    </label>
                </div>
                <div>
                    <p-radioButton name="status" [value]="false" [(ngModel)]="pic.isActive"></p-radioButton>
                    <label class="form-check-label" for="flexRadioDefault2" style="margin-left: 10px;">
                        Not Active
                    </label>
                </div>
            </div>
            <button (click)="onClick()" pButton type="button" label="Update" class="p-button-primary button"></button>
        </div>
    </div>
</div>