<div>
    <div class="form-title">
        <button pButton pRipple type="button" icon="pi pi-chevron-left"
            class="p-button-rounded p-button-text button-back" routerLink="/companies"></button>
        <p class="title-form">Add Company</p>
    </div>
    <div class="form-content">
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Code</label>
            <div class="col-sm-5">
                <input maxLength="10" type="text" class="p-inputtext-sm form-control" pInputText [(ngModel)]="company.code" />
            </div>
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-5">
                <input maxLength="50" type="text" class="p-inputtext-sm form-control" pInputText [(ngModel)]="company.name" />
            </div>
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-5">
                <textarea maxLength="255" type="text" class="p-inputtext-sm form-control" pInputText
                        [(ngModel)]="company.address"></textarea>
                <!-- <input maxLength="255" type="text" class="p-inputtext-sm form-control" pInputText [(ngModel)]="company.address" /> -->
            </div>
        </div>
        <div class="row mb-3">
            <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-5">
                <input maxLength="15" type="text" class="p-inputtext-sm form-control" pInputText [(ngModel)]="company.phone" />
            </div>
        </div>
        <button (click)="onClick()" pButton type="button" label="Submit" class="p-button-primary button"></button>
    </div>
</div>